.wholeThing {
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.isBlack{
    background-color: black;
    border: 1px solid gray;
}

.isWhite{
    background-color: white;
    border: 1px solid gray;
}

.colorBoard{
    display: grid;
    grid-template-columns: repeat(2,100px);
    grid-template-rows: repeat(2,100px);
    justify-content: center;
}

